@if (
    ErrorPasswordValidatorRequired.lowercase || ErrorPasswordValidatorRequired.minLenght ||
    ErrorPasswordValidatorRequired.numeric || ErrorPasswordValidatorRequired.specialCharacter ||
    ErrorPasswordValidatorRequired.uppercase
) {
<div class="container-password-strength">
    <ul>
        @if( ErrorPasswordValidatorRequired.lowercase){ <li> {{ 'users_invalid_password_lowercase' | translate }}</li> }
        @if( ErrorPasswordValidatorRequired.minLenght){ <li> {{ 'users_invalid_password_min_length' | translate }}</li> }
        @if( ErrorPasswordValidatorRequired.numeric){ <li> {{ 'users_invalid_password_number' | translate }}</li> }
        @if( ErrorPasswordValidatorRequired.specialCharacter ){ <li> {{ 'users_invalid_password_special' | translate }}</li> }
        @if( ErrorPasswordValidatorRequired.uppercase){ <li> {{ 'users_invalid_password_uppercase' | translate }}</li> }
    </ul>
</div>
}