<ng-template #confirmationModal let-modal>
    <div class="modal-body">
        <i class="ri-question-line icon-box wo-bg"></i>
        <h5 class="modal-title">{{ 'global_confirmation' | translate }}</h5>
        <p>{{ 'global_confirmation_massage' | translate }}</p>
        <div class="button-box">
            <app-button 
                [class]="'btn-md fw-bold btn btn-secondary'" 
                [spinner]="false"
                [id]="'confirm_no_btn'" 
                (click)="modal.dismiss('Cancel')">
                {{ 'global_no' | translate }}
            </app-button>
            <app-button 
                [class]="'btn-theme btn-md fw-bold btn'" 
                [id]="'confirm_yes_btn'"
                (click)="confirm()">
                {{ 'global_yes' | translate }}
            </app-button>
        </div>
    </div>
</ng-template>